<div class="container" >
    <div class="row align-items-start">
        <div class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">
            <div class = "card">
                <img class="cardImg" [src]="game.background_image" alt="{{game.name}} image">
                <div class = "cardName">
                    <h2>{{game.name}}</h2>
                    <p>Released: {{game.released}}</p>
                    <!-- En el archivo HTML donde deseas mostrar el modal -->
                    <app-modal></app-modal>
                </div>
            </div>
        </div>
    </div>
</div>


