.card{
    position: relative;
    align-items: center;
    width: 250px;
    height: 250px;
    border: solid black 5px;
    background-color: rgb(221, 90, 15);
}

.cardName{
    position: relative;
    text-align: center;
    color: black;
    font-size: large;

}

.cardImg{
    border: solid black 20px;
    max-width: 50%;
    max-height: fit-content;
}



